site_name: BERT-CLAM Framework
site_url: https://Solid-Sea.github.io/bert_clam/
repo_url: https://github.com/Solid-Sea/bert_clam
repo_name: Solid-Sea/bert_clam

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          build: true
          default: true
          nav:
            - Home: index.md
            - 'Getting Started':
              - 'getting-started/installation.md'
              - 'getting-started/quick-start.md'
            - 'Tutorials':
              - 'tutorials/notebook_guide.md'
            - 'Concepts':
              - 'concepts/architecture.md'
              - 'concepts/strategy_pattern.md'
            - 'Developer Guide':
              - 'developer/contributing.md'
              - 'developer/testing.md'
            - 'API Reference':
              - 'api/bert_clam_model.md'
              - 'api/strategy.md'
        - locale: zh
          name: 中文
          build: true
          nav:
            - 首页: index.md
            - '快速上手':
              - 'getting-started/installation.md'
              - 'getting-started/quick-start.md'
            - '教程':
              - 'tutorials/notebook_guide.md'
            - '核心概念':
              - 'concepts/architecture.md'
              - 'concepts/strategy_pattern.md'
            - '开发者指南':
              - 'developer/contributing.md'
              - 'developer/testing.md'
            - 'API 参考':
              - 'api/bert_clam_model.md'
              - 'api/strategy.md'

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/Solid-Sea

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html